@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css");
@import url("//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css");
body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.element {
    min-height: 100vh;
    padding-top: 55px;
    padding-left: 10px;
}

.element[name='about'] {
    margin-bottom:66px;
}

.active {
    color: red !important;
}

#intro {
    margin-top:20px;
}

h1 {
    font-weight: 300;
    padding-top:40px;
    font-size: 2.5em;
    /* margin-top:100px; */
}

#intro {
    padding-top: 0px;
}

footer {
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0px;
    z-index: 9999;
}

.footer-copyright {
    border-top: 1px solid #d3d3d3;
    margin-top: 10px;
    padding: 5px;
    opacity: .5;
}

.right {
    float: right;
}

p {
    font-size: 1.1em;
    margin-top: 10px;
}

nav li {
    cursor: pointer;
}

.eq-wrapper {
    text-align: center;
}

#scroll-down {
    position: fixed;
    bottom: 40px;
}

#scroll-wrapper {
    margin-left: calc(25%/2 - 15px);
}

#next-step {
    float:right;
}

#last-step {
    float:left;
}

.fa {
    cursor: pointer;    
    color: black;
    opacity: .3;
}

.step-label {
    font-size:20px;
    opacity:.5;
    line-height:45px;
}

.small-menu {
    text-align: center;
    padding-top:3px;
}


.menu-large {
    display:none;
}
@media screen and (min-width:997px){
    .small-menu {
        display:none;
    }
    .menu-large {
        display:block;
    }
}

.inactive-scroll {
    pointer-events: none;
    cursor:move;
    opacity:.1;
}