/* Sections css */

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.Sections {
    width: 25%;
    min-height: 450px;
}

.no-bullets {
    list-style-type: none;
    margin-left: 5px;
}

.conclusion {
    margin-bottom: 400px;
}